@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
}

h1 {
  color: rgba(44, 56, 130, 0.5);
  font-weight: 400;
  font-size: 26px; 
  margin-top: 100px;
}


.button__zurueck {
  border: none;
  background-color: unset;
  float: left;
  font-size: 2em;
}

.button__zurueck:hover,
.button__zurueck:focus {
  cursor: pointer;
  color:rgb(44, 56, 130);
}

.button__weiter {
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #F46456;
  padding: 1em 3em;
  font-size: 1.2em;
}

.button__weiter:hover,
.button__weiter:focus {
  background-color: sandybrown;
  cursor: pointer;
}

.button__weiter:disabled {
  background-color: gray;
}


/*=======================
      GEBURTSTAG
========================*/
.geburtstags__form {
  width: 400px;
  margin: 4em auto;
  display: flex;
  justify-content: space-between;
}

.geburtstags__form input {
  width: 100px;
  text-align: center;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 3px solid #2E4674;
  color:#2E4674;
  font-weight: bold;
  font-size: 1.2em;
}

.geburtstags__form input::placeholder {
  color: lightgray;
  font-weight: 400;
}

.geburtstags__form .geburtstags__input--kurz {
  padding: 1em 0.2em;
}

.input--background {
  background-color: #DAE1EC;
}

.input__error {
  border-color: red;
}



/*=======================
      Ergebnis
========================*/
.betrag {
  font-size: 19.8px;
}


/*=======================
      Infobox
========================*/
.info__container {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 4em auto;
  text-align: left;
}

.info-avatar {
  background-color: #DAE1EC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.info-avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.info-text {
  font-size: 15px;
  line-height: 1.5em;
  text-align: left;
  color: #2E4674;
}

.sprechblase {
  position: relative;
  width: 340px;
  background-color: #F6F7F9;
  border-radius: 10px;
  padding: 0 16px;
}

.sprechblase:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #F6F7F9;
  border-bottom: 20px solid transparent;
  left: -10px;
  top: 0;
}

/*
Fonts:
Dunkelblau: #2E4674
Hellblau: #DAE1EC
Rot: #F46456
Hannoversche Hellbau: #3DB7E4


  */